@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <a href="https://localhost:7112/Identity/Account/Login?clientId=d7b520e2-3e2b-479a-bee0-93dcba7b44e2&responseCode=code&redirectUrl=https://localhost:7196&scopes=TestScope&state=test">login</a>
</div>
